.educontent{
    display: flex;
    gap: 1rem;
    /* grid-template-columns: 1fr 2fr; */
}
.educontents{
    margin: 0vw 20vw ;
}
.edudata{
    text-align: center;
margin-top: 80px;
}
.eduimg{
    margin: 20px;
    overflow: hidden;
    border: 1px solid white;
    border-radius: 1rem;
}
@media screen and (max-width:600px) {
    .educontent{
        flex-direction: column;
        
    }
    .edudata{
        margin-top: 0;
    }
   
}

@media screen and (max-width:1024px) {
.educontent {
        flex-direction: column;
    }
}